body {
  /* background-color: aliceblue; */
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
.container {
  width: 45%;
  margin: auto;
  height: 500px;
  border: solid rgb(127, 126, 126) 1px;
  padding: 48px 40px 36px;
  margin-top: 5%;
  border-radius: 4px;
}
.left {
  width: 50%;
  height: 650px;
  float: left;
  flex-basis: 450px;
  margin: 0 -48px;
  overflow: hidden;
  padding: 0 48px;
}
.right {
  width: 50%;
  height: 650px;
  float: right;
}
#glogo {
  height: 90px;
  margin: 0 0;
  overflow: visible;
  position: relative;
  width: 90px;
  background: white;
  display: block;
  box-sizing: inherit;
}
#register p {
  margin-top: 2px;
  font-size: x-large;
  font-weight: 500;
  color: black;
}
#register input {
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid gray;
}
.lineRt {
  box-sizing: inherit;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #202124;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
#btn {
  width: 30%;
  height: 50px;
  background-color: #1a73e8;
  background-color: var(--gm-fillbutton-container-color, #1a73e8);
  color: #fff;
  color: var(--gm-fillbutton-ink-color, #fff);
  font-size: medium;
  float: left;
  border-radius: 8px;
  border: none;
  box-shadow: #1a73e8;
  margin-top: 10px;
}
#btn2 {
  width: 30%;
  height: 50px;
  background-color: #1a73e8;
  background-color: var(--gm-fillbutton-container-color, #1a73e8);
  color: #fff;
  color: var(--gm-fillbutton-ink-color, #fff);
  font-size: medium;
  float: right;
  border-radius: 8px;
  border: none;
  box-shadow: #1a73e8;
  margin-top: 10px;
}
